@charset "UTF-8";
/* CSS Document */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0, auto;
}

.leftColumn {
  width: 100%;
}

.rightColumn {
  width: 100%;
}

/* MEDIA QUERIES */
@media screen and (min-width: 760px) {
  .leftColumn { 
  width: 30%;
  }
  .rightColumn { 
  position: absolute; top: 0; right: 0; width: 70%;
}   
}

body {
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
	color: #333;
}
a {
    text-decoration: none;
	color: #333;
}
a:hover {
    color: #604099;
}
h1 {
	font-size: 40px;
	font-weight: 800;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 20px;
	font-weight: 900;
}
h4 {
	font-size: 18px;
	font-weight:200;
}
hr {
	margin-top: 50px;
}

ul {
 list-style-type: square;
 list-style-position: outside;
 list-style-image: none;
 color: #604099; 
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #604099;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #892890;
    color: white;
}

.button-rev {
    background-color: #604099;
    color: white;
    border: 2px solid #604099;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-rev:hover {
    background-color: #892890;
    color: white;
}