@charset "UTF-8";
/* CSS Document */


.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 0px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Inset, by Dan Eden */
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
		color: #333;
      }
a {
    text-decoration: none;
	color: #333;
}
a:hover {
    color: #ca4c34;
}
ul {
 list-style-type: square;
 list-style-position: outside;
 list-style-image: none;
 color: #ca4c34; 
}

.clearfix:after,
#content:after,
.container:after,
.container-fluid:after,
.row:after,
.modal-footer:after {
  content: "";
  display: table;
  clear: both;
}
.clear {
  clear: both;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #b2221f;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	align: right;
}

.button:hover {
    background-color: #b2221f;
    color: white;
}